DATABASE_URL=<CONTAINER_URL># This is for the .env to get the Docker container URL
HOST=<DB_HOST>
POSTGRES_DB=<DB_NAME>
POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD=<DB_PASSWORD>
DATABASE_PORT=<DB_PORT>
SERVER_PORT=<API_PORT>
DATABASE_URL_LOCAL=<LOCAL_URL># This is for the .env to get the local URL

# The URL of our Auth0 Tenant Domain.
# If you're using a Custom Domain, be sure to set this to that value instead.
AUTH0_DOMAIN=<AUTH0_DOMAIN>

# Our Auth0 application's Client ID.
AUTH0_CLIENT_ID=<AUTH0_CLIENT_ID>

# Our Auth0 application's Client Secret.
AUTH0_CLIENT_SECRET=<AUTH0_CLIENT_SECRET>

# The Callback URL of our application. Customizable.
AUTH0_CALLBACK_URL=<AUTH0_CALLBACK_URL>
AUTH0_AUDIENCE=<CUSTOM_API_IDENTIFIER>

# These two are different from the previous ones, from these ones we're getting the Management API JWT
AUTH0_TEST_CLIENT_ID=<AUTH0_TEST_APP_CLIENT_ID>
AUTH0_TEST_CLIENT_SECRET=<AUTH0_TEST_APP_CLIENT_SECRET>

#Port for the code runner container
RUNNER_PORT=<RUNNER_PORT>
RUNNER_URL=<RUNNER_URL>